<h1 class="md-headline">Informacje o użytkowniku</h1>

<p>Nazwa użytkownika: {{user.username}}</p>
<p>Email: {{user.email}}</p>
<p>Imię: {{user.firstName}}</p>
<p>Nazwisko: {{user.lastName}}</p>
<p>Miasto: {{user.city}}</p>
<p>Tokeny: {{user.tokens}}</p>
<p>Zainteresowania: {{user.interests}}</p>

<p>Opinie:</p>
<div *ngFor="#opinion of user.opinions; #i = index">
  <div class="opinion" style="border: black solid 1px;">
    <p>Treść: {{opinion.description}}</p>
    <p>Ocena: {{opinion.rank}}</p>
    <p>Autor: <a [routerLink]="['UserInfo', { username: opinion.owner_nick}]">{{opinion.owner_nick}}</a></p>
  </div>
</div>

<div *ngIf="user.admin"><p>Administrator!</p></div>
