<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
  <div flex="80" layout="column" flex-xs="100">
    <md-card *ngFor="#classified of classifieds">
      <md-card-header>
        <md-card-header-text>
          <span class="md-title">{{ classified.budget }} PLN</span>
          <span class="md-subhead">{{ classified.city }}</span>
        </md-card-header-text>
      </md-card-header>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ classified.title }}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          {{ classified.description }}
        </p>
      </md-card-content>
      <div *ngIf="classified.offers.length > 0">
          <p>Lista chętnych:</p>
        <md-data-table>
          <thead>
          <tr>
            <th class="md-text-cell">Użytkownik</th>
            <th>Cena</th>
            <th>Wybierz</th>
          </tr>
          </thead>
          <tbody>
          <span [hidden]="offerError==false">{{offerError}}</span><br>
          <tr *ngFor="#offer of classified.offers">
            <td class="md-text-cell"><a [routerLink]="['UserInfo', { username: offer.owner_nick}]">{{offer.owner_nick}}</a></td>
            <td>{{ offer.price }} punktów</td>
            <td><button md-raised-button class="md-raised md-primary" (click)="selectOffer(classified, offer.owner_nick)">Wybierz</button></td>
          </tr>
          </tbody>
        </md-data-table>
      </div>
      <div layout-sm="row">
        <button md-raised-button class="md-raised md-primary" (click)="onSelect(classified)">Zobacz więcej</button>
        <button md-raised-button class="md-raised md-warn" (click)="deleteClassified(classified)">Usuń ogłoszenie</button>
        <button md-raised-button class="md-raised md-primary" (click)="edit(classified)">Edytuj</button>
      </div>
    </md-card>
  </div>
</md-content>
