<h1 class="md-headline">Rejestracja</h1>
<md-content layout-padding>
  <div>
    <form name="signupForm" (submit)="signup()">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Username</label>
          <input md-input id="username" [(ngModel)]="username">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Email</label>
          <input md-input id="email" [(ngModel)]="email" type="email">
        </md-input-container>
      </div>
        <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Hasło</label>
          <input md-input id="password" [(ngModel)]="password" type="password">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Powtórz hasło</label>
          <input md-input id="password2" [(ngModel)]="password2" type="password">
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Imię</label>
          <input md-input id="first_name" [(ngModel)]="first_name">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Nazwisko</label>
          <input md-input id="last_name" [(ngModel)]="last_name">
        </md-input-container>
      </div>
      <md-input-container class="md-block">
        <label>Miasto</label>
        <input md-input id="city" [(ngModel)]="city">
      </md-input-container>
      <button md-button type="submit">Zarejestruj</button>
    </form>
  </div>
</md-content>
