<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
  <div flex="500" layout="column" flex-xs="100">
    <md-card>
      <span class="md-subhead">{{ classified.category }}</span>
      <md-card-header>
        <md-card-header-text>
          <span class="md-title">{{ classified.budget }} PLN</span>
          <span class="md-subhead">{{ classified.city }}, {{ classified.province }}</span>

          <p>Od: {{ classified.begin_date }}</p>
          <p>Do: {{ classified.end_date }}</p>
        </md-card-header-text>
      </md-card-header>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ classified.title }}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>{{ classified.description }}</p>
        <p>Numer telefonu: {{ classified.phone }}</p>
        <p>Lista chętnych:</p>
        <md-data-table layout-fill>
          <thead>
          <tr>
            <th class="md-text-cell">Użytkownik</th>
            <th>Cena</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="#offer of classified.offers">
            <td class="md-text-cell"><a [routerLink]="['UserInfo', { username: offer.owner_nick}]">{{offer.owner_nick}}</a></td>
            <td>{{ offer.price }}</td>
          </tr>
          </tbody>
        </md-data-table>
        <button md-raised-button class="md-raised md-primary" (click)="changeAddOfferShow()">Dodaj swoją oferte</button>
        <div [hidden]="addOfferShow==false">
            <form name="offerForm" (submit)="addOffer()">
            <span [hidden]="error==false">{{error}}</span><br><br>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Twoja cena</label>
                <input md-input id="username" [(ngModel)]="offerPrice" required>
              </md-input-container>
            </div>
            <button md-raised-button class="md-raised md-primary" type="submit">Zatwierdź</button>
          </form>
        </div>
      </md-card-content>
    </md-card>
  </div>
</md-content>
