<h1 class="md-headline">Logowanie</h1>
<md-content layout-padding>
  <form name="loginForm" (submit)="login()">
    <span [hidden]="error==false">{{error}}</span><br><br>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Username</label>
        <input md-input id="username" [(ngModel)]="data['username']">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Password</label>
        <input md-input id="password" [(ngModel)]="data['password']" type="password">
      </md-input-container>
    </div>

    <button md-button type="submit">Zaloguj</button>
  </form>
</md-content>
