<md-toolbar class="md-hero" layout="row" layout-align="center center" layout-align-gt-md="end end">
  <i class="secret-project" md-icon>person</i>
</md-toolbar>
<md-content layout-padding>
  <form name="userForm">
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Email</label>
        <input md-input type="email">
      </md-input-container>
    </div>
    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Password</label>
        <input md-input type="password">
      </md-input-container>
    </div>
  </form>
</md-content>
