<h1 class="md-headline">Logowanie</h1>
<md-content layout-padding>
  <form name="loginForm" (submit)="login()">
    <span [hidden]="error==false">{{error}}</span><br><br>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Nazwa użytkownika</label>
        <input md-input id="username" [(ngModel)]="data['username']" required>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Hasło</label>
        <input md-input id="password" [(ngModel)]="data['password']" type="password" required>
      </md-input-container>
    </div>

    <button md-raised-button class="md-raised md-primary" type="submit">Zaloguj</button>
  </form>
</md-content>
